<h2>Welcome User</h2>

<% if(!user) { %>
<a href="/auth/login">
  <button>Login</button>
</a>
<% } else { %>
<a href="/auth/logout">
  <button>logout</button>
</a>
<% } %>

<a href="/dashboard">
  <button>Dashboard</button>
</a>
