<form action="/user/register" method="POST">
  <h2>Register</h2>

  <div class="input-field">
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Username"
      required
    />
  </div>
  <div class="input-field">
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      required
    />
  </div>
  <div class="input-field">
    <input
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      placeholder="Confirm Password"
      required
    />
  </div>

  <div class="user-messages"><%- include ('partials/messages') %></div>

  <button type="submit">Register</button>
</form>
