body {
  display: flex;
  justify-content: center;
}

button {
  background: linear-gradient(to left, #4776e6, #8e54e9);
  color: white;
  border-radius: 4px;
  margin-top: 1rem;
  padding: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

h2,
h4 {
  text-align: center;
}